# Leiningen
/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.lein/

# REPL
.nrepl-port
.prepl-port

# IDE/Editor
.calva/
.clj-kondo/
.lsp/

# Version Control
.hgignore
.hg/

# OS specific
.DS_Store
